# Practice    
# Enjoy^_^

# 1. Python Flow Control

## 1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [ ]:
x=[]

for i in range(1500,2701):
  if i%7==0 and i%5==0:
    x.append(i)

print(x)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2. Write a Python program to guess a number between 1 and 9.
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

## 3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [ ]:
import random

num= random.randint(1,9)

while True:
  guess = int(input("Guess a number between 1 and 9: "))
  if guess == num:
    print("well guessed!")
    break

Guess a number between 1 and 9: 5
Guess a number between 1 and 9: 2
Guess a number between 1 and 9: 7
well guessed!

## 4. Write a Python program to construct the following pattern, using a nested for loop.
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

for i in range(4, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range (1,9):
  for j in range (i):
    print("*",end=" ")
  print()

  for i in range (7,0,-1):
    for j in range (i):
      print("*",end=" ")
  print()

*
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *

## 5. Write a Python program that accepts a word from the user and reverses it.

In [ ]:
word = input("Enter a word: ")
print(word[::-1])

Enter a word: hello
olleh

## 6. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

Expected Output :

Number of even numbers : 4

Number of odd numbers : 5

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even = (n % 2 == 0 for n in numbers)
odd = (n % 2 != 0 for n in numbers)

even = (n % 2 == 0 for n in numbers)
odd = (n % 2 != 0 for n in numbers)

## 7. Write a Python program to print the the first alphabet pattern 'A-Z' in your name .
for example  Expected Output:


```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```

In [ ]:
n = 7
m = 5

for i in range(n):
    for j in range(m):
        if (j == 0 or j == m-1) and i != 0:
            print("*", end="")
        elif i == 0 and 0 < j < m-1:
            print("*", end="")
        elif i == n//2:
            print("*", end="")
        else:
            print(" ", end="")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

## 8.  Write a Python program to construct the following pattern, using a nested loop number.
Expected Output:


``

1

22

333

4444

55555

666666

7777777

88888888

999999999

``

In [ ]:
for i in range(1, 10):
    for j in range(i):
        print(i, end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

## 9. Write a Python program to create the multiplication table (from 1 to 10) of a number.
Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60

In [ ]:
num = int(input("Input a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Input a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

## 10. Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [ ]:
sum = 0
count = 0

while True:
    num = int(input("Enter a number "))
    if num == 0:
        break
    sum += num
    count += 1

if count > 0:
    average = sum / count
    print("Sum:", sum)
    print("Average:", average)
else:
    print("No numbers entered.")

Enter a number 6
Enter a number 5
Enter a number 8
Enter a number 4
Enter a number 9
Enter a number 0
Sum: 32
Average: 6.4

# 11-Python Program to Print the Fibonacci sequence

The Fibonacci numbers are the numbers in the following integer sequence. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, …….. In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation.


![image.png](attachment:image.png)

In [ ]:
n = int(input("Enter the number: "))

a, b = 0, 1
count = 0

while count < n:
    print(a, end=" ")
    a, b = b, a + b
    count += 1

Enter the number: 71
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135

# 12. Simulating a Basic ATM Withdrawal

In [ ]:
balance = 1000
print(f"Your current balance is: ${balance}")

while True:
    action = input("Do you want to Withdraw or Deposit? ")

    if action == "1":
        amount = float(input("Enter amount to withdraw: $"))
        if amount > balance:
            print("Insufficient balance!")
        else:
            balance -= amount
            print(f"Please take your cash: ${amount}")
            print(f"Remaining balance: ${balance}")

    elif action == "2":
        amount = float(input("Enter amount to deposit: $"))
        if amount <= 0:
            print("Enter a valid amount!")
        else:
            balance += amount
            print(f"Deposited: ${amount}")
            print(f"New balance: ${balance}")

    elif action == "3":
        print("Thank you")
        break

    else:
        print("Invalid option!")

Your current balance is: $1000
Do you want to Withdraw or Deposit? 1
Enter amount to withdraw: $650
Please take your cash: $650.0
Remaining balance: $350.0
Do you want to Withdraw or Deposit? 2
Enter amount to deposit: $700
Deposited: $700.0
New balance: $1050.0
Do you want to Withdraw or Deposit? 3
Thank you for using the ATM. Goodbye!

# 13.Finding Common Elements in Two Lists

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common = []

for item in list1:
    if item in list2:
        common.append(item)

print("Common elements:", common)

Common elements: [4, 5]

# 14. Calculating Factorial of a Number

In [ ]:
num = int(input("Enter a number: "))
factorial = 1

if num == 0:
    print("Factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"Factorial of {num} is {factorial}")

Enter a number: 7
Factorial of 7 is 5040

# 15. Finding the Sum of Digits of a Number

In [ ]:
n = int(input("Enter a number: "))
sum_digits = 0

while n > 0:
    sum_digits += n % 10
    n = n // 10

print(f"Sum of digits of is {sum_digits}")

Enter a number: 9786
Sum of digits of is 30